<%= provide(:title, "Home")  %>
<div class="top-wrapper">
  <div class="container">
    <h1>SHOW OFFは夢を目指すアーティスト・ミュージシャンを応援します</h1>
    <p>ShowOffは自身の活動を記録・発信できるプラットフォームです</p>
    <div class="btn-wrapper">
      <%= link_to "新規登録はこちら", signup_path, class: "btn signup" %>
    </div>
  </div>
</div>

<div class="about-wrapper">
  <div class="container">
    <div class="heading">
      <h2>SHOW OFFでできること</h2>
    </div>
    <div class="contents">
      <div class="content">
        <p class="icon icon-1">写真・動画の投稿</p>
        <p class="txt-content"></p>
      </div>
      <div class="content">
        <p class="icon icon-2">イベント情報の告知</p>
        <p class="txt-content"></p>
      </div>
      <div class="content">
        <p class="icon icon-3">アーティストの支援</p>
        <p class="txt-content"></p>
      </div>
    </div>
  </div>
</div>
