<header>
  <div class="container">
     <div class="header-logo">
       <%= link_to "SHOW OFF", root_path, id: "logo" %>
      </div>
        <div class="header-right">
          <ul class="nav">
            <li>
              <%= link_to "ログイン", login_path %>
            </li>
            <li></li>
          </ul>
      </div>
   </div>
</header>